@import "./reset.css";
@import '~antd/dist/antd.css';

.main{
	width:1280px;
	margin:0 auto;
	overflow:hidden;
}
.logo-img{
	display: block;
	width:170px;
	height:50px;
	margin-top:10px;
}
.log-btn{
	margin-top:10px;
	margin-left:80px;
}
.header-menu{
	line-height:30px;
	border:none;
}
.warp-placard{
	height:90px;
	width:1280px;
	margin-top:40px;
}
.placard1{
	height:90px;
	width:1280px;
}
.content{
	width:1280px;
	margin-top:30px;
}
.content-item{
	line-height:30px;
}
.content-item-category{
	padding-right:10px;
}
.content-item-new{
	vertical-align: top;
	position:relative;
	top:10px;
	left:10px;
}
.ant-card-bordered{
	margin-top:15px;
}
.ant-card-grid{
	padding:10px;
	height:200px;
}
.ant-card-grid .card-book-img{
	height:180px;
	width:120px;
	float:left;
	box-sizing: border-box;
	padding-top:30px;
}
.ant-card-grid .book-introduce{
	height:180px;
	width:160px;
	float:right;
	padding-top:30px;
	padding-right:40px
}
.ant-card-grid .book-introduce .title-h2{
	font-size: 16px;
	padding-bottom:10px;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 90px;
  line-height: 90px;
  background: #364d79;
  overflow: hidden;
  margin-top:20px;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.footer-box{
	text-align:center;
	margin-top:20px;
	background:pink;
}
.footer-box a{
	margin-left:20px;
	color:#333;
}
.footer-menu{
	margin:20px 0;
}
.data-content{
	overflow:hidden;
}
.data-content-cart{
	width:300px;
	margin:50px;
	float:left;
}
.data-content-cart img{
	height:240px;
	width:167px;
}
.ant-card-grid .card-book-img img{
	width:90px;
	height:120;
}
